{% load static %}

/* 背景图片 */
body{
    height: 100%;
    background-image: url("/static/images/bg1.jpeg");
    background-repeat: repeat;
    background-size: 100%;
    z-index: -100;
}
#container {
    background-color: rgba(240, 240, 240, 0.8);
    height: 100%;
}