/*
#banner{
    width:1200px;
    height:360px;
    margin:30px auto;
    position:relative;
}
#banner div img{
    width:1200px;
    height:360px;
    display:none;
}
#banner div img:first-child{
    display:block;
}
#banner div ul{
    width:200px;
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-45px;
}
#banner li{
    float:left;
    width:10px;
    height:10px;
    border-radius:50%;
    margin-right:10px;
    background:white;
    position:relative;
}
#banner li:last-child{
    margin:0;
}
#banner li:first-child{
    background:orange;
}
#banner .left{
    position:absolute;
    top:50%;
    margin-top:-35px;
    width:35px;
    height:70px;
    background:rgba(0,0,0,.1) no-repeat center;
    border-radius:5px;

    left:5px;
    background-image:url("/static/images/index/arrow-left.png");
}
#banner .right{
    position:absolute;
    top:50%;
    margin-top:-35px;
    width:35px;
    height:70px;
    background:rgba(0,0,0,.1) no-repeat center;
    border-radius:5px;

    right:5px;
    background-image:url("/static/images/index/arrow-right.png");
}
*/

.banner { width:1200px; height:360px; margin:30px auto; position: relative; }
.fader { position: relative; width: 100%; height:360px; padding-top: 0; overflow: hidden; }
.fader .slide { position: absolute; width: 100%; height:360px; top: 0; z-index: 1; opacity: 0; }
.fader .slide img { width: 1200; height: 360; }
.fader .prev, .fader .next { position: absolute; height: 80px; line-height: 55px; width: 50px; font-size: 100px; text-align: center; color: #fff; top: 50%; left: 50px; z-index: 4; margin-top: -25px; cursor: pointer; opacity: 0; transition: all 150ms; }
.fader .next { left: auto; right: 50px; }
.fader .pager_list { position: absolute; width: 100%; height: 40px; padding: 0; line-height: 40px; bottom: 0; text-align: center; z-index: 4; }
.fader .pager_list li { display: inline-block; width: 15px; height: 15px; margin: 0 7px; background: #fff; opacity: .3; text-indent: -9999px; border-radius: 999px; cursor: pointer; transition: all 150ms; }
.fader .pager_list li:hover, .fader .pager_list li.active { opacity: 1; }
.banner:hover .fader_controls .page.prev { opacity: 0.5; left: 0 }
.banner:hover .fader_controls .page.next { opacity: 0.5; right: 0 }


h2 { margin-left: 30px; margin-bottom: 15px; color: #282828; }
h2>a { margin-left: 700px; font-size: 16px; color: #282828; }
.line { position: relative; width: 100%; overflow: hidden; height:260px; margin-left: 30px; text-align: center; }
.line div{ position: relative; float:left; box-sizing: border-box; width: 170px; height:260px; margin-left: 10px; color:#da0d0d; }
.line .item a>p{ color:#997679; text-align: center; margin-bottom: 3px; }

/*sidebar*/
.sidebar { width: 100%; overflow: hidden; float: right; background: rgba(255, 255, 255, 0.65);}
.sidebar div { padding: 30px 30px; margin-bottom: 10px; }//-webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); }
.rank li { margin-bottom: 5px; }
.zhuanti li { margin-bottom: 10px; }
.zhuanti img { width: 90%; height: 90%; }
.sidebar div:hover ::after { width: 70px; }
.sidetitle { font-size: 18px; color: #282828; font-weight: 600; margin: 0; text-transform: uppercase; padding-bottom: 15px; margin-bottom: 25px; position: relative; }
.sidetitle:after { content: ""; background-color: #282828; left: 0; width: 50px; height: 2px; bottom: 0; position: absolute; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }



