/*外围结构的样式*/
.bg img{
	position: fixed;
	top:0;
	width: 100%;
	opacity: 0.4;
	z-index: -100;
}

/* 1.顶部 */
.top img{
    position: fixed;
    left:10%;
    top:10%;
    width:168px;
    border-radius:10px;
}

/* 2.主体 */
.main{
    float:right;
    position: fixed;
    right:15%;
    top:20%;
}
.content {
    background: #FFF;
    width:260px;
    height:260px;
    border-radius:10px;
    padding:30px 20px;
}
.content p{
    font-size:18px;
    color:black;
    border-bottom: 1px solid white;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 10px;
}
.content p a{
    float:right;
    margin-right: 15px;
    font-size: 12px;
    margin-top: 5px;
    color:black;
    text-decoration:underline;
}
.text{
    position: relative;
}
.text input{
    width:202px;
    border: 1px solid #ddd;
    padding:8px 28px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 5px;
}
.text img{
    width: 20px;
    position: absolute;
    right:5px;
    top:23px;
}
.login{
    width:260px;
    height:35px;
    background:#997679;
    color:white;
    border:none;
    font-size: 16px;
    margin-top: 30px;
}