{% extends 'login_base.html' %}
{% load static %}

{% block title %}
    <title>橙子电影网 - 登录</title>
{% endblock %}

{% block center_content %}
    <div class="content">
        <p>
            登录
            <a href="/register">新用户注册</a>
        </p>

        <div class="text">
            <input type="text" name="email" placeholder="请输入邮箱" class="signIn-email">
            <img src="{% static 'images/login/mail.png' %}">
        </div>
        <div class="text">
            <input type="password" name="upwd" placeholder="请输入密码" class="signIn-password">
            <img src="{% static 'images/login/password.png' %}">
        </div>
        <input class="login" type="button" value="登录" onclick="login()">
    </div>
{% endblock %}

